<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Digiverse user</title> {% endcomment %}
    <title> Digiverse - {% block title %}  {% endblock title %} </title>

    <!----------- Fontawesome CDN -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!------------- Google Fonts ------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!------------ Bootstrap CSS ---------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">


    <!------------ Custom CSS -------------->
    <link rel="stylesheet" href="{% static 'hospital_update_design/asset/css/style.css' %}">
</head>
<body>
    
    <section class="main_section">
        <div class="mycontainer">
            <div class="main_body">
                <!---------- Sidebar -------->
                <div class="sidebar d-none d-lg-block">
                    <div class="sitebar_layer"></div>
                    <div class="sidebar_inner_main">
                        <div class="logo_div">
                            <a href="{% url 'symptom' %}"><img src="{% static 'hospital_update_design/asset/images/logo/White-DigiVerse-Logo 1.png' %}" alt=""></a>
                        </div>
                        <ul class="nav sidebar_inner mx-auto flex-column nav-pills mb-3" id="pills-tab" role="tablist">
                            <!-- symtomp -->
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'symptom' %}" class="nav-link_aside active" ><img src="{% static 'hospital_update_design/asset/images/Icons/IconSetMain.png' %}" alt="">Symptoms Check</a>
                            </li>
                            <!-- Symtomp history -->
                            <li class="nav-item" role="presentation" >
                                <a href="{% url 'symptom_history' %}" class="nav-link_aside"><img src="{% static 'hospital_update_design/asset/images/Icons/Vector.png' %}" alt=""> Symptom History</a>
                            </li>

                            <!---------- Hospitals -------->
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'hospital_details' %}" class="nav-link_aside" id="getNearbyHospitals"><img src="{% static 'hospital_update_design/asset/images/Icons/IconSet.png' %}" alt=""> Nearest Hospitals</a>
                            </li>

                            <!-- <li class="nav-item" role="presentation">
                                <a href="#" class="nav-link_aside"><img src="{% static 'hospital_update_design/asset/images/Icons/IconSet.png' %}" alt=""> Doctor Profile</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!----------- Mobile Sitebar ------------->
<!----------- Mobile Sitebar ------------->
                <div class="mobile_sitebar row d-lg-none">
                    <div class="sitebar_layer"></div>
                    <div class="">
                        <div class="offcanvas offcanvas-start" id="myoffcanvas">
                            <div class="logo_div offcanvas-header">
                                <a href="index.html"><img src="./asset/images/logo/White-DigiVerse-Logo 1.png" alt=""></a>
                                <button type="button" class="" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <ul class="offcanvas-body nav sidebar_inner mx-auto flex-column nav-pills mb-3" id="pills-tab" role="tablist">
                                <!-- symtomp -->
                                <li class="nav-item" role="presentation">
                                    <a href="index.html" class="nav-link_aside active" ><img class="bg-white rounded-circle" src="./asset/images/Icons/IconSetMain.png" alt="">Symptoms</a>
                                </li>
                                <!-- Symtomp history -->
                                <li class="nav-item" role="presentation">
                                    <a href="symtomp_history.html" class="nav-link_aside"><img src="./asset/images/Icons/Vector.png" alt=""> Symptom History</a>
                                </li>

                                <!---------- Hospitals ------->
                                <li class="nav-item" role="presentation">
                                    <a href="hospital.html" class="nav-link_aside" ><img src="./asset/images/Icons/IconSet.png" alt="">Nearest Hospitals</a>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a href="patient_profile.html" class="nav-link_aside"><img src="./asset/images/Icons/IconSet.png" alt="">Patient Profile</a>
                                </li>
                            </ul>
                        </div>
                        <button class="offcanvas_toggle_btn" data-bs-target="#myoffcanvas" data-bs-toggle="offcanvas"><i class="fa-solid fa-bars"></i></button>
                    </div>
                </div>

                <!--------- Main body -------->
                <!----------------- Symptom Content ------------>
                <div class="main_content">
                    <div class="main">
                        <!---------- Hospital List ---------->
                        <div class="">
                            <div class="hospital_content">
                                <div class="hospital_content_header">
                                    <div class="hospital_search">
                                        <form action="#">
                                            <input type="search" placeholder="Search" class="h_search_bar">
                                            <button id="h_top_search_icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </form>
                                    </div>
                                    <div class="hospital_profile">
                                        <p><i class="fa-sharp fa-solid fa-bell"></i></p>
                                        <a href="#"><img src="{% static 'hospital_update_design/asset/images/profile/profile 1 (1).png' %}" alt=""></a>
                                    </div>
                                </div>
                                {% block content %}

    		                    {% endblock content %}




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!------------- Bootstrap JS ------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!------- Jquery cdn ------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> -->


    <!-------------- Custom js ------------>
    <script src="{% static 'hospital_update_design/asset/js/my_location.js' %}"></script>
    <script  src="{% static 'assets/js/predict.js' %}"></script>
    <script src="{% static 'hospital_update_design/asset/js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    
    <script>
        if(localStorage.getItem('index')){
            index = localStorage.getItem('index')
        }
        else{
            index = 0
        }
        $('.nav-item a').removeClass('active')
        $('.nav-item a:eq('+index+')').addClass('active')
        $('.nav-item a').each(function(i){

           $(this).click(function(e){
                // alert(i)
                // e.preventDefault()
                localStorage.setItem('index',i)
                
                // $(this).addClass('active')
           })
        })
    </script>
    
    

</body>
</html>