{% extends 'common_code/base_code.html' %}
{% load static %}
{% block title %} Symptom {% endblock title %}

{% block content %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Symptom Name Inputs</h4>
								</div>
								<div class="container-scroller">
									{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<div class="alert alert-{{ message.tags }}" role="alert">
												{{ message }}
											</div>
										{% endfor %}
									</ul>
									{% endif %}
                                <form class="forms-sample" method="POST" action="{% url 'symptom_store' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Select Department Name</label>			
                                              <select class="form-control" id="exampleSelectGender" name="dep_id">
                                                <option>Select Department</option>
                                                {% for data_depart in depert_dep %}
                                                <option value="{{ data_depart.id }}">{{ data_depart.name }}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Select Disease Name</label>			
                                              <select class="form-control" id="exampleSelectGender" name="dis_id">
                                                <option>Select Disease</option>
                                                {% for data_dis in disease_data %}
                                                <option value="{{ data_dis.id }}">{{ data_dis.name }}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom1</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom1" name="symptom1">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom2</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom2" name="symptom2">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom3</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom3" name="symptom3">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom4</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom4" name="symptom4">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom5</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom5" name="symptom5">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom6</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom6" name="symptom6">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom7</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom7" name="symptom7">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom8</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom8" name="symptom8">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom9</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom9" name="symptom9">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom10</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom10" name="symptom10">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom11</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom11" name="symptom11">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom12</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom12" name="symptom12">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom13</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom13" name="symptom13">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom14</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom14" name="symptom14">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom15</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom15" name="symptom15">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom16</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom16" name="symptom16">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Symptom17</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="symptom17" name="symptom17">
                                        </div>
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                 </form>
								  </div>
								</div> 
								
							</div>
							
						</div>
					</div>
          
          <div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Symptom Information</h4>
									
								</div>
								<div class="card-body">
		
									<div class="table-responsive">
										<table class="datatable table table-stripped">
											<thead>
												<tr>
													<th>ID</th>
													<th>Symptom1</th>
													<th>Symptom2</th>
													<th>Symptom3</th>
													<th>Symptom4</th>
													<th>Symptom5</th>
													<th>Symptom6</th>
													<th>Symptom7</th>
													<th>Symptom8</th>
													<th>Symptom9</th>
													<th>Symptom10</th>
													<th>Symptom11</th>
													<th>Symptom12</th>
													<th>Symptom13</th>
													<th>Symptom14</th>
													<th>Symptom15</th>
													<th>Symptom16</th>
													<th>Symptom17</th>
													<th>Action</th>
													
												</tr>
											</thead>
											<tbody>
												{% for table_data in data_symt %}
												<tr class="table-info">
												  <td>
													{{ forloop.counter }}
												  </td>
												  <td>
													{{table_data.symptom1}}
												  </td>
												  <td>
													{{table_data.symptom2}}
												  </td>
												  <td>
													{{table_data.symptom3}}
												  </td>
												  <td>
													{{table_data.symptom4}}
												  </td>
												  <td>
													{{table_data.symptom5}}
												  </td>
												  <td>
													{{table_data.symptom6}}
												  </td>
												  <td>
													{{table_data.symptom7}}
												  </td>
												  <td>
													{{table_data.symptom8}}
												  </td>
												  <td>
													{{table_data.symptom9}}
												  </td>
												  <td>
													{{table_data.symptom10}}
												  </td>
												  <td>
													{{table_data.symptom11}}
												  </td>
												  <td>
													{{table_data.symptom12}}
												  </td>
												  <td>
													{{table_data.symptom13}}
												  </td>
												  <td>
													{{table_data.symptom14}}
												  </td>
												  <td>
													{{table_data.symptom15}}
												  </td>
												  <td>
													{{table_data.symptom16}}
												  </td>
												  <td>
													{{table_data.symptom17}}
												  </td>
												  
												  <td>
													<a  href="{% url 'edit_symptom' table_data.id %}">Edit</a>
													<a  href="{% url 'delete_symptom' table_data.id %}">Delete</a>  
													
													
												  </td>
												</tr>
												{% endfor %}
											  </tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>			
			</div>
			<!-- /Main Wrapper -->
{% endblock content %}