{% extends 'common_code/base_code.html' %}
{% load static %}
{% block title %} Symptom - Edit {% endblock title %}
{% block content %}

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
        
            <!-- Page Header -->
            
            <!-- /Page Header -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Edit Symptom Inputs</h4>
                        </div>
                        <div class="container-scroller">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form class="forms-sample" method="POST" action="{% url 'update_symptom' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                <label for="exampleInputName1"><h5 >Edit Symptom Name</h5></label>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom1" name="symptom1" value="{{id.symptom1}}"> <br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom2" name="symptom2" value="{{id.symptom2}}"> <br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom3" name="symptom3" value="{{id.symptom3}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom4" name="symptom4" value="{{id.symptom4}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom5" name="symptom5" value="{{id.symptom5}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom6" name="symptom6" value="{{id.symptom6}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom7" name="symptom7" value="{{id.symptom7}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom8" name="symptom8" value="{{id.symptom8}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom9" name="symptom9" value="{{id.symptom9}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom10" name="symptom10" value="{{id.symptom10}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom11" name="symptom11" value="{{id.symptom11}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom12" name="symptom12" value="{{id.symptom12}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom13" name="symptom13" value="{{id.symptom13}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom14" name="symptom14" value="{{id.symptom14}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom15" name="symptom15" value="{{id.symptom15}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom16" name="symptom16" value="{{id.symptom16}}"><br>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Symptom17" name="symptom17" value="{{id.symptom17}}"><br>
                                <input type="hidden" name="id" value="{{id}}">
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                            </form>
                            </div>
                        </div> 
                        
                    </div>
                    
                </div>
            </div>
            
            
        
        
        </div>			
    </div>
    <!-- /Main Wrapper -->
{% endblock content %}