{% extends 'common_code/base_code.html' %}
{% load static %}
{% block title %} Hospital_map {% endblock title %}

{% block content %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Hospital Map Data Inputs</h4>
								</div>
								<div class="container-scroller">
									{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<div class="alert alert-{{ message.tags }}" role="alert">
												{{ message }}
											</div>
										{% endfor %}
									</ul>
									{% endif %}
                                <form class="forms-sample" method="POST" action="{% url 'hospital_map_store' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Select Hospital Name</label>			
                                              <select class="form-control" id="exampleSelectGender" name="hos_fk">
                                                <option>Select Hospital Name</option>
                                                {% for hos_map in map_data %}
                                                <option value="{{ hos_map.id }}">{{ hos_map.hos_name }}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                       
                                        <div class="form-group">
                                          <label for="exampleInputName1">Longitude Name</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="Longitude" name="longitude">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputName1">Latitude</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="Latitude" name="latitude">
                                        </div>
           
                                        
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                 </form>
								  </div>
								</div> 
								
							</div>
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Hospital Map Information</h4>
									
								</div>
								<div class="card-body">
		
									<div class="table-responsive">
										<table class="datatable table table-stripped">
											<thead>
												<tr>
													<th>ID</th>
													<th>Longitude</th>
													<th>Latitude</th>
													<th>Action</th>
													
												</tr>
											</thead>
											<tbody>
												{% for table_data in hospital_map_data %}
												<tr class="table-info">
												  <td>
													{{ forloop.counter }}
												  </td>
												  <td>
													{{table_data.longitude}}
												  </td>
												  <td>
													{{table_data.latitude}}
												  </td>
												  
												  <td>
													<a  href="{% url 'edit_hospital_map' table_data.id %}">Edit</a>
													<a  href="{% url 'delete_hospital_map' table_data.id %}">Delete</a>  
													
													
												  </td>
												</tr>
												{% endfor %}
											  </tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				

				</div>			
			</div>
			<!-- /Main Wrapper -->
{% endblock content %}