{% extends 'common_code/base_code.html' %}
{% load static %}
{% block title %} Station {% endblock title %}

{% block content %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Station Name Inputs</h4>
								</div>
								<div class="container-scroller">
									{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<div class="alert alert-{{ message.tags }}" role="alert">
												{{ message }}
											</div>
										{% endfor %}
									</ul>
									{% endif %}
                                <form class="forms-sample" method="POST" action="{% url 'station_store' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Select Division Name</label>			
                                              <select class="form-control" id="exampleSelectGender" name="divi_fk">
                                                <option>Select Division</option>
                                                {% for data_divi in divi_data %}
                                                <option value="{{ data_divi.id }}">{{ data_divi.division }}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Select District Name</label>			
                                              <select class="form-control" id="exampleSelectGender" name="dis_fk">
                                                <option>Select district</option>
                                                {% for data_dist in dist_data %}
                                                <option value="{{ data_dist.id }}">{{ data_dist.district }}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                        
                                        <div class="form-group">
                                          <label for="exampleInputName1">Station</label>
                                          <input type="text" class="form-control" id="exampleInputName1" placeholder="Station Name" name="station">
                                        </div>
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                 </form>
								  </div>
								</div> 
								
							</div>
							
						</div>
					</div>
          
          <div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Station Information</h4>
									
								</div>
								<div class="card-body">
		
									<div class="table-responsive">
										<table class="datatable table table-stripped">
											<thead>
												<tr>
													<th>ID</th>
													<th>Station Name</th>
													<th>Action</th>
													
												</tr>
											</thead>
											<tbody>
												{% for table_data in station_data %}
												<tr class="table-info">
												  <td>
													{{ forloop.counter }}
												  </td>
												  <td>
													{{table_data.station}}
												  </td>
												  
												  <td>
													<a  href="{% url 'edit_station' table_data.id %}">Edit</a>
													<a  href="{% url 'delete_station' table_data.id %}">Delete</a>
													
													
												  </td>
												</tr>
												{% endfor %}
											  </tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>			
			</div>
			<!-- /Main Wrapper -->
{% endblock content %}